{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-11 col-md-7 col-xxl-5 grey-bg rounded p-3">

        <!-- Title -->
        <h1 class="org-text fw-bold">{% trans "Sign In" %}</h1>

        <!-- Prompt -->
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a class="org-text text-decoration-underline" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>

        <!-- Form Component -->
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button class="primaryAction btn-warning btn org-bg" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}