{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-11 col-md-7 col-xxl-5 grey-bg rounded p-3">
        <!-- Title -->
        <h1 class="org-text fw-bold">{% trans "Sign Up" %}</h1>

        <!-- Prompt -->
        <p>{% blocktrans %}Already have an account? Then please <a class="org-text text-decoration-underline"
                href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>

        <!-- Form Component -->
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="text-center">
                <button class="btn-warning btn org-bg" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}