/* Global */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400&display=swap");

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* Navbar / Sidebar */
nav {
    height: 100vh;
    width: inherit;
    position: fixed;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #ff4000;
}

.active {
    background-color: #ff4000;
}

.sidebar-icon {
    font-size: 25px;
    padding: 0.2rem 0.4rem;
    border-radius: 25%;
}

.brand {
    font-family: Pacifico, sans-serif;
}

@media screen and (max-width: 520px) {
    .brand {
        font-size: 100% !important;
    }
}

/* Home Page */
#heading {
    font-size: 200%;
    font-weight: 300;
}

.post {
    height: 15rem;
    background-color: #212529;
    border-radius: 10px;
}

.post-preview {
    height: 45px;
    overflow: hidden;
}

.btn-warning {
    background-color: #ff4000;
    border: none;
}

.fa-circle {
    font-size: 40%;
}
