/* Global */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400&display=swap");

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* Navbar / Sidebar */
nav {
    height: 100vh;
    width: inherit;
    position: fixed;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.active {
    background-color: #ff4000;
}

.sidebar-icon {
    font-size: 20px;
    padding: 5px 0;
    border-radius: 25%;
}

.brand {
    font-family: Pacifico, sans-serif;
    color: #ff4000;
}

#nav-toggle {
    background: none;
    border: none;
}

#toggle-icon {
    color: #ff4000;
}

@media screen and (max-width: 768px) {
    #nav-collapse {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #nav-collapse {
        display: block !important;
    }
}

@media screen and (max-width: 520px) {
    .brand {
        font-size: 100% !important;
    }
}

/* Home Page */
#heading {
    font-size: 200%;
    font-weight: 300;
}

.post {
    height: 100%;
    background-color: #212529;
    border-radius: 10px;
}

.post-preview {
    height: 45px;
    overflow: hidden;
}

.btn-warning {
    background-color: #ff4000;
    border: none;
}

.fa-circle {
    font-size: 40%;
}

.preview-img {
    height: 110px;
    width: 110px;
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid #fff;
    object-fit: cover;
}

@media screen and (max-width: 845px) {
    .preview-img {
        width: 95px;
        height: 95px;
    }
}

@media screen and (max-width: 768px) {
    .date,
    .username,
    .category {
        font-size: 75%;
    }

    .fa-circle {
        font-size: 30%;
    }

    .title {
        font-size: 110%;
    }
}

@media screen and (max-width: 550px) {
    .preview-img {
        width: 100%;
    }    
}