{% extends "base.html" %} {% block content %}

<!-- prettier-ignore -->
{% for post in page_obj %} {% if post.image %}
<!-- Post Component -->
<div class="row justify-content-center mb-2 post-container">
    <div class="col-11 col-xl-7 post text-white">
        <div class="row">
            <div class="col-7 col-md-9">
                <!-- Title -->
                <div class="row">
                    <div class="col mt-2 d-flex align-items-baseline">
                        <a href="{% url 'post_detail' post.slug %}">
                            <h2 class="title">{{ post.title }}</h2>
                        </a>
                    </div>
                </div>

                <!-- Date -->
                <div class="row">
                    <div class="col mt-1">
                        <span class="fst-italic date"
                            >{{ post.post_date }}</span
                        >
                    </div>
                </div>

                <!-- Username/Category -->
                <div class="row mt-2 mb-1">
                    <div class="d-flex col-sm-2 col-3">
                        <span class="username fst-italic me-2"
                            >{{ post.author }}</span
                        >
                        <span><i class="align-middle fas fa-circle"></i></span>
                        <span class="category fst-italic ms-2"
                            >{{ post.category }}</span
                        >
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    <div class="col post-preview mb-1">
                        <p>{{ post.content | safe}}</p>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col d-flex justify-content-center align-items-end">
                <img
                    class="preview-img"
                    src="{{ post.image.url }}"
                    alt="post image"
                />
            </div>
        </div>
        <hr />

        <!-- Additional -->
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-warning mb-2">
                    See More
                </button>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="row justify-content-center mb-2 post-container">
    <div class="col-11 col-xl-7 post text-white">
        <div class="row">
            <div class="col">
                <!-- Title -->
                <div class="row">
                    <div class="col mt-2 d-flex align-items-baseline">
                        <a href="{% url 'post_detail' post.slug %}">
                            <h2 class="title">{{ post.title }}</h2>
                        </a>
                    </div>
                </div>

                <!-- Date -->
                <div class="row">
                    <div class="col mt-1">
                        <span class="fst-italic date"
                            >{{ post.post_date }}</span
                        >
                    </div>
                </div>

                <!-- Username/Category -->
                <div class="row mt-2 mb-1">
                    <div class="d-flex col-sm-2 col-3">
                        <span class="username fst-italic me-2"
                            >{{ post.author }}</span
                        >
                        <span><i class="align-middle fas fa-circle"></i></span>
                        <span class="category fst-italic ms-2"
                            >{{ post.category }}</span
                        >
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    <div class="col post-preview mb-1">
                        <p>{{ post.content | safe}}</p>
                    </div>
                </div>
                <hr />

                <!-- Additional -->
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-warning mb-2">
                            See More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %}

<!-- Page Nav -->
<div class="row justify-content-center">
    <div class="col">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ page_obj.previous_page_number }}"
                    >Back</a
                >
            </li>
            {% endif %}

            <li class="page-item d-flex align-items-center me-2 ms-2">
                <!-- prettier-ignore -->
                <span
                    >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
                >
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ page_obj.next_page_number }}"
                    >Next</a
                >
            </li>
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}"
                    >Last</a
                >
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
