{% extends "base.html" %} {% block content %}

<!-- Heading -->
<div class="row justify-content-center">
    <div class="col-6 text-center m-3">
        <h1 id="heading">Welcome to <span class="brand">Social</span></h1>
    </div>
</div>

{% for post in posts %} {% if post.image %}
<!-- Post Component -->
<div class="row justify-content-md-center mb-2 post-container">
    <div class="col-11 col-xl-7 post text-white">
        <div class="row">
            <div class="col-7 col-md-9">
                <!-- Title -->
                <div class="row">
                    <div class="col mt-2 d-flex align-items-baseline">
                        <h2 class="title">{{ post.title }}</h2>
                    </div>
                </div>

                <!-- Date -->
                <div class="row">
                    <div class="col mt-1">
                        <span class="fst-italic date"
                            >{{ post.post_date }}</span
                        >
                    </div>
                </div>

                <!-- Username/Category -->
                <div class="row mt-2 mb-1">
                    <div class="d-flex col-sm-2 col-3">
                        <span class="username fst-italic me-2"
                            >{{ post.author }}</span
                        >
                        <span><i class="align-middle fas fa-circle"></i></span>
                        <span class="category fst-italic ms-2"
                            >{{ post.category }}</span
                        >
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    <div class="col post-preview mb-1">
                        <p>{{ post.content | safe}}</p>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col d-flex justify-content-center align-items-end">
                <img
                    class="preview-img"
                    src="{{ post.image.url }}"
                    alt="post image"
                />
            </div>
        </div>
        <hr />

        <!-- Additional -->
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-warning mb-2">
                    See More
                </button>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="row justify-content-md-center mb-2 post-container">
    <div class="col-11 col-xl-7 post text-white">
        <div class="row">
            <div class="col">
                <!-- Title -->
                <div class="row">
                    <div class="col mt-2 d-flex align-items-baseline">
                        <h2 class="title">{{ post.title }}</h2>
                    </div>
                </div>

                <!-- Date -->
                <div class="row">
                    <div class="col mt-1">
                        <span class="fst-italic date"
                            >{{ post.post_date }}</span
                        >
                    </div>
                </div>

                <!-- Username/Category -->
                <div class="row mt-2 mb-1">
                    <div class="d-flex col-sm-2 col-3">
                        <span class="username fst-italic me-2"
                            >{{ post.author }}</span
                        >
                        <span><i class="align-middle fas fa-circle"></i></span>
                        <span class="category fst-italic ms-2"
                            >{{ post.category }}</span
                        >
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    <div class="col post-preview mb-1">
                        <p>{{ post.content | safe}}</p>
                    </div>
                </div>
                <hr />

                <!-- Additional -->
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-warning mb-2">
                            See More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %} {% endblock %}
